In [1]:
# 定义全局函数便于直接调用处理
from datetime import datetime

import pandas as pd
import numpy as np
from datetime import date
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import boxcox
datapath = 'D:/outsourcing/data/'
featurepath = 'D:/outsourcing/feature/'
resultpath = 'D:/outsourcing/result/'
tmppath = 'D:/outsourcing/tmp/'

In [21]:
train = pd.read_csv(tmppath+"date_train.csv")
test = pd.read_csv(tmppath+'date_test.csv')

c:\users\32122\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (46,49,50) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
c:\users\32122\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (54,55,650) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [22]:
train.head(10)

,seg_route_from,seg_route_to,seg_flight,seg_cabin,seg_dep_time,pax_fcny,pax_tax,emd_lable,emd_lable2,gender,...,seg_dep_time_is_holiday,seg_dep_time_is_in_lieu,recent_flt_day_month,recent_flt_day_year,recent_flt_day_hour,recent_flt_day_is_workday,recent_flt_day_is_holiday,recent_flt_day_is_in_lieu,last_flt_day,has_ffp_nbr
0,PVG,JFK,AB1006,J,2018/12/16 20:00,4161.0,584.43,0,0,0,...,1,0,-1,-1,-1,-1,-1,-1,-999,0
1,PVG,JFK,AB1006,J,2019/2/18 20:00,1670.0,248.80,1,0,0,...,0,0,-1,-1,-1,-1,-1,-1,-999,0
2,PVG,LAX,AB1009,Y,2018/3/9 13:20,243.0,301.31,1,0,0,...,0,0,-1,-1,-1,-1,-1,-1,-999,0
3,PVG,LAX,AB1009,Y,2018/1/2 13:20,1362.0,454.16,0,0,0,...,0,0,1,2018,0,1,0,0,0,0
4,PVG,JFK,AB1010,Y,2018/7/6 11:30,675.0,284.11,1,1,M,...,0,0,7,2018,0,1,0,0,0,1
5,PVG,LAX,AB1009,Y,2019/3/24 13:20,250.0,298.23,0,0,0,...,1,0,-1,-1,-1,-1,-1,-1,-999,0
6,PVG,JFK,AB1006,Y,2019/8/18 19:10,700.0,292.73,0,0,0,...,1,0,-1,-1,-1,-1,-1,-1,-999,0
7,PVG,JFK,AB1006,Y,2017/7/7 19:10,1222.0,453.66,1,1,0,...,0,0,1,2018,0,1,0,0,4,0
8,PVG,JFK,AB1006,Y,2018/12/8 19:30,200.0,299.61,0,0,0,...,1,0,-1,-1,-1,-1,-1,-1,-999,0
9,PVG,LAX,AB1008,Y,2017/5/25 21:00,302.0,441.96,0,0,0,...,0,0,-1,-1,-1,-1,-1,-1,-999,0

# 采用下面这种方法，固定log变化，所有数字增加0.01

In [17]:
train = pd.read_csv(tmppath+"BOX_data_all_lmbda0_0.01.csv")
print(train[0:2])

c:\users\32122\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0 seg_route_from seg_route_to seg_flight seg_cabin  \
0           0            PVG          LAX     AB1008         Y
1           1            PVG          LAX     AB1008         Y

      seg_dep_time  pax_fcny   pax_tax  emd_lable2 gender  ...  \
0   2018/4/1 21:00 -4.595950 -4.561755           1      0  ...
1  2017/11/5 21:00 -4.598859 -4.562124           1      0  ...

                                   pax_name_passport seg_dep_time_month  \
0  ffc6314419b48ffa9671f70f6699a9b9ffc6314419b48f...          -1.263273
1  5018e3e58463ae2d498e4babc22011d65018e3e58463ae...          -0.084370

  seg_dep_time_is_workday seg_dep_time_is_holiday seg_dep_time_is_in_lieu  \
0                -4.60517                 0.00995                -4.60517
1                -4.60517                 0.00995                -4.60517

  recent_flt_day_month recent_flt_day_is_workday  recent_flt_day_is_holiday  \
0            -1.069053                  -4.60517                    0.00995
1            -0.076161                  -4.60517                    0.00995

  recent_flt_day_is_in_lieu  last_flt_day
0                  -4.60517     -0.673345
1                  -4.60517     -0.673345

[2 rows x 616 columns]
   Unnamed: 0 seg_route_from seg_route_to seg_flight seg_cabin  \
0           0            PVG          LAX     AB1008         Y
1           1            PVG          LAX     AB1008         Y
2           2            PVG          JFK     AB1010         Y
3           3            PVG          JFK     AB1010         Y
4           4            PVG          JFK     AB1006         Y

       seg_dep_time  pax_fcny   pax_tax  emd_lable2 gender  ...  \
0    2018/4/1 21:00 -4.595950 -4.561755           1      0  ...
1   2017/11/5 21:00 -4.598859 -4.562124           1      0  ...
2   2017/2/28 11:30 -4.595601 -4.569174           1      0  ...
3  2018/10/13 11:30 -4.596833 -4.570091           1      F  ...
4   2018/3/28 19:10 -4.598160 -4.562109           1      0  ...

                                   pax_name_passport seg_dep_time_month  \
0  ffc6314419b48ffa9671f70f6699a9b9ffc6314419b48f...          -1.263273
1  5018e3e58463ae2d498e4babc22011d65018e3e58463ae...          -0.084370
2  ee2eb56dbc875927fec48b646c8dd25aee2eb56dbc8759...          -2.293535
3  c70a3485769e5f5287f8680329e12b27c70a3485769e5f...          -0.188523
4  d2c14d80ca6d66317ad84b663d9b3aefd2c14d80ca6d66...          -1.651207

  seg_dep_time_is_workday seg_dep_time_is_holiday seg_dep_time_is_in_lieu  \
0                -4.60517                 0.00995                -4.60517
1                -4.60517                 0.00995                -4.60517
2                 0.00995                -4.60517                -4.60517
3                -4.60517                 0.00995                -4.60517
4                 0.00995                -4.60517                -4.60517

  recent_flt_day_month recent_flt_day_is_workday  recent_flt_day_is_holiday  \
0            -1.069053                 -4.605170                   0.009950
1            -0.076161                 -4.605170                   0.009950
2            -4.605170                 -0.673345                  -0.673345
3            -0.521999                 -4.605170                   0.009950
4            -1.347074                  0.009950                  -4.605170

  recent_flt_day_is_in_lieu  last_flt_day
0                 -4.605170     -0.673345
1                 -4.605170     -0.673345
2                 -0.673345     -0.673345
3                 -4.605170     -0.673345
4                 -4.605170     -0.673345

[5 rows x 616 columns]

In [8]:
train = pd.read_csv(tmppath+"BOX_data_all_lmbda0_1.csv")
print(train.head(5))

c:\users\32122\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0 seg_route_from seg_route_to seg_flight seg_cabin  \
0           0            PVG          LAX     AB1008         Y
1           1            PVG          LAX     AB1008         Y
2           2            PVG          JFK     AB1010         Y
3           3            PVG          JFK     AB1010         Y
4           4            PVG          JFK     AB1006         Y

       seg_dep_time  pax_fcny   pax_tax  emd_lable2 gender  ...  \
0    2018/4/1 21:00  0.000093  0.000444           1      0  ...
1   2017/11/5 21:00  0.000063  0.000440           1      0  ...
2   2017/2/28 11:30  0.000096  0.000366           1      0  ...
3  2018/10/13 11:30  0.000084  0.000357           1      F  ...
4   2018/3/28 19:10  0.000070  0.000440           1      0  ...

                                   pax_name_passport seg_dep_time_month  \
0  ffc6314419b48ffa9671f70f6699a9b9ffc6314419b48f...           0.241162
1  5018e3e58463ae2d498e4babc22011d65018e3e58463ae...           0.646627
2  ee2eb56dbc875927fec48b646c8dd25aee2eb56dbc8759...           0.087011
3  c70a3485769e5f5287f8680329e12b27c70a3485769e5f...           0.597837
4  d2c14d80ca6d66317ad84b663d9b3aefd2c14d80ca6d66...           0.167054

  seg_dep_time_is_workday seg_dep_time_is_holiday seg_dep_time_is_in_lieu  \
0                0.000000                0.693147                     0.0
1                0.000000                0.693147                     0.0
2                0.693147                0.000000                     0.0
3                0.000000                0.693147                     0.0
4                0.693147                0.000000                     0.0

  recent_flt_day_month recent_flt_day_is_workday  recent_flt_day_is_holiday  \
0             0.287682                  0.000000                   0.693147
1             0.650588                  0.000000                   0.693147
2             0.000000                  0.405465                   0.405465
3             0.459532                  0.000000                   0.693147
4             0.223144                  0.693147                   0.000000

  recent_flt_day_is_in_lieu  last_flt_day
0                  0.000000      0.405465
1                  0.000000      0.405465
2                  0.405465      0.405465
3                  0.000000      0.405465
4                  0.000000      0.405465

[5 rows x 616 columns]

In [23]:
train = pd.read_csv(tmppath+"BOX_train.csv")
print(train.head(5))

  seg_route_from seg_route_to seg_flight seg_cabin      seg_dep_time  \
0            PVG          LAX     AB1008         Y    2018/4/1 21:00
1            PVG          LAX     AB1008         Y   2017/11/5 21:00
2            PVG          JFK     AB1010         Y   2017/2/28 11:30
3            PVG          JFK     AB1010         Y  2018/10/13 11:30
4            PVG          JFK     AB1006         Y   2018/3/28 19:10

   pax_fcny   pax_tax  emd_lable2 gender age  ...  \
0 -4.595950 -4.561755           1      0   0  ...
1 -4.598859 -4.562124           1      0   0  ...
2 -4.595601 -4.569174           1      0   0  ...
3 -4.596833 -4.570091           1      F   0  ...
4 -4.598160 -4.562109           1      0   0  ...

                                   pax_name_passport seg_dep_time_month  \
0  ffc6314419b48ffa9671f70f6699a9b9ffc6314419b48f...          -1.263273
1  5018e3e58463ae2d498e4babc22011d65018e3e58463ae...          -0.084370
2  ee2eb56dbc875927fec48b646c8dd25aee2eb56dbc8759...          -2.293535
3  c70a3485769e5f5287f8680329e12b27c70a3485769e5f...          -0.188523
4  d2c14d80ca6d66317ad84b663d9b3aefd2c14d80ca6d66...          -1.651207

  seg_dep_time_is_workday seg_dep_time_is_holiday seg_dep_time_is_in_lieu  \
0                -4.60517                 0.00995                -4.60517
1                -4.60517                 0.00995                -4.60517
2                 0.00995                -4.60517                -4.60517
3                -4.60517                 0.00995                -4.60517
4                 0.00995                -4.60517                -4.60517

  recent_flt_day_month  recent_flt_day_is_workday recent_flt_day_is_holiday  \
0            -1.069053                  -4.605170                  0.009950
1            -0.076161                  -4.605170                  0.009950
2            -4.605170                  -0.673345                 -0.673345
3            -0.521999                  -4.605170                  0.009950
4            -1.347074                   0.009950                 -4.605170

   recent_flt_day_is_in_lieu last_flt_day
0                  -4.605170    -0.673345
1                  -4.605170    -0.673345
2                  -0.673345    -0.673345
3                  -4.605170    -0.673345
4                  -4.605170    -0.673345

[5 rows x 615 columns]

c:\users\32122\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (46,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
train = pd.read_csv(tmppath+"date_train.csv")

c:\users\32122\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (46,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
train.head(5)

,seg_route_from,seg_route_to,seg_flight,seg_cabin,seg_dep_time,pax_fcny,pax_tax,emd_lable2,gender,age,...,pax_name_passport,seg_dep_time_month,seg_dep_time_is_workday,seg_dep_time_is_holiday,seg_dep_time_is_in_lieu,recent_flt_day_month,recent_flt_day_is_workday,recent_flt_day_is_holiday,recent_flt_day_is_in_lieu,last_flt_day
0,PVG,LAX,AB1008,Y,2018/4/1 21:00,395.0,282.51,1,0,0,...,ffc6314419b48ffa9671f70f6699a9b9ffc6314419b48f...,4,2,1,2,4,2,1,2,0
1,PVG,LAX,AB1008,Y,2017/11/5 21:00,270.0,280.06,1,0,0,...,5018e3e58463ae2d498e4babc22011d65018e3e58463ae...,11,2,1,2,11,2,1,2,0
2,PVG,JFK,AB1010,Y,2017/2/28 11:30,410.0,233.36,1,0,0,...,ee2eb56dbc875927fec48b646c8dd25aee2eb56dbc8759...,2,1,2,2,0,0,0,0,366
3,PVG,JFK,AB1010,Y,2018/10/13 11:30,357.0,227.31,1,F,0,...,c70a3485769e5f5287f8680329e12b27c70a3485769e5f...,10,2,1,2,7,2,1,2,0
4,PVG,JFK,AB1006,Y,2018/3/28 19:10,300.0,280.16,1,0,0,...,d2c14d80ca6d66317ad84b663d9b3aefd2c14d80ca6d66...,3,1,2,2,3,1,2,2,0

In [14]:
train = pd.read_csv(tmppath + "BOX_train.csv")
test = pd.read_csv(tmppath + "BOX_test.csv")

c:\users\32122\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (46,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
train.head(5)

,seg_route_from,seg_route_to,seg_flight,seg_cabin,seg_dep_time,pax_fcny,pax_tax,emd_lable2,gender,age,...,pax_name_passport,seg_dep_time_month,seg_dep_time_is_workday,seg_dep_time_is_holiday,seg_dep_time_is_in_lieu,recent_flt_day_month,recent_flt_day_is_workday,recent_flt_day_is_holiday,recent_flt_day_is_in_lieu,last_flt_day
0,PVG,LAX,AB1008,Y,2018/4/1 21:00,0.000092,0.000439,1,0,0,...,ffc6314419b48ffa9671f70f6699a9b9ffc6314419b48f...,0.258122,0.315818,0.000000,3.124024e+20,0.160223,0.297919,0.255099,0.385024,0.078916
1,PVG,LAX,AB1008,Y,2017/11/5 21:00,0.000063,0.000435,1,0,0,...,5018e3e58463ae2d498e4babc22011d65018e3e58463ae...,0.778517,0.315818,0.000000,3.124024e+20,0.207984,0.297919,0.255099,0.385024,0.078916
2,PVG,JFK,AB1010,Y,2017/2/28 11:30,0.000095,0.000363,1,0,0,...,ee2eb56dbc875927fec48b646c8dd25aee2eb56dbc8759...,0.089156,0.000000,2.007527,3.124024e+20,0.000000,0.000000,0.000000,0.000000,1.563850
3,PVG,JFK,AB1010,Y,2018/10/13 11:30,0.000083,0.000354,1,F,0,...,c70a3485769e5f5287f8680329e12b27c70a3485769e5f...,0.709497,0.315818,0.000000,3.124024e+20,0.192302,0.297919,0.255099,0.385024,0.078916
4,PVG,JFK,AB1006,Y,2018/3/28 19:10,0.000070,0.000435,1,0,0,...,d2c14d80ca6d66317ad84b663d9b3aefd2c14d80ca6d66...,0.175079,0.000000,2.007527,3.124024e+20,0.140016,0.238037,0.329778,0.385024,0.078916

In [16]:
test.head(5)

,seg_route_from,seg_route_to,seg_flight,seg_cabin,seg_dep_time,pax_fcny,pax_tax,emd_lable2,gender,age,...,pax_name_passport,seg_dep_time_month,seg_dep_time_is_workday,seg_dep_time_is_holiday,seg_dep_time_is_in_lieu,recent_flt_day_month,recent_flt_day_is_workday,recent_flt_day_is_holiday,recent_flt_day_is_in_lieu,last_flt_day
0,PVG,JFK,AB1006,J,2018/12/16 20:00,0.000890,0.000898,0,0,0,...,9612c51f08718e48b1361e415ef55be99612c51f08718e...,0.846096,0.315818,0.000000,3.124024e+20,0.000000,0.000000,0.000000,0.000000,1.563850
1,PVG,JFK,AB1006,J,2019/2/18 20:00,0.000377,0.000387,0,0,0,...,c7ca533cd9da4c4bf3d597248f90bc6ec7ca533cd9da4c...,0.089156,0.000000,2.007527,3.124024e+20,0.000000,0.000000,0.000000,0.000000,1.563850
2,PVG,LAX,AB1009,Y,2018/3/9 13:20,0.000057,0.000468,0,0,0,...,bd2cb6b0dd56fb3de6f7c018296a07e2bd2cb6b0dd56fb...,0.175079,0.000000,2.007527,3.124024e+20,0.000000,0.000000,0.000000,0.000000,1.563850
3,PVG,LAX,AB1009,Y,2018/1/2 13:20,0.000310,0.000701,0,0,0,...,65657872fe131ea7651565638dcb568365657872fe131e...,0.000000,0.000000,2.007527,3.124024e+20,0.067060,0.238037,0.329778,0.385024,0.078916
4,PVG,JFK,AB1010,Y,2018/7/6 11:30,0.000156,0.000441,1,M,0,...,722261f7b860b183da9fe0b6630b6dbf722261f7b860b1...,0.492676,0.000000,2.007527,3.124024e+20,0.192302,0.238037,0.329778,0.385024,0.078916

In [17]:
train = pd.read_csv(tmppath + "BOX_mi_en_train.csv")
test = pd.read_csv(tmppath + "BOX_mi_en_test.csv")

In [18]:
train.head(5)

,seg_route_from,seg_route_to,seg_flight,seg_cabin,pax_fcny,pax_tax,gender,age,residence_country,nation_name,...,seg_dep_time_month,seg_dep_time_is_workday,seg_dep_time_is_holiday,seg_dep_time_is_in_lieu,recent_flt_day_month,recent_flt_day_is_workday,recent_flt_day_is_holiday,recent_flt_day_is_in_lieu,last_flt_day,emd_lable2
0,0.062948,0.062579,0.065516,0.072386,0.017424,0.020562,0.058618,0.060162,0.059297,0.061196,...,0.304962,1.0,0.0,1.0,0.763372,1.00000,0.773501,1.0,0.050476,1
1,0.062948,0.062579,0.065516,0.072386,0.011948,0.020394,0.058618,0.060162,0.059297,0.061196,...,0.919792,1.0,0.0,1.0,0.990698,1.00000,0.773501,1.0,0.050476,1
2,0.062948,0.092602,0.107637,0.072386,0.018080,0.017021,0.058618,0.060162,0.059297,0.061196,...,0.105381,0.0,1.0,1.0,0.000000,0.00000,0.000000,0.0,1.000000,1
3,0.062948,0.092602,0.107637,0.072386,0.015761,0.016586,0.083441,0.060162,0.078555,0.061196,...,0.838430,1.0,0.0,1.0,0.915698,1.00000,0.773501,1.0,0.050476,1
4,0.062948,0.092602,0.081655,0.072386,0.013260,0.020394,0.058618,0.060162,0.059297,0.061196,...,0.206867,0.0,1.0,1.0,0.666860,0.79918,1.000000,1.0,0.050476,1

In [19]:
test.head(5)

,seg_route_from,seg_route_to,seg_flight,seg_cabin,pax_fcny,pax_tax,gender,age,residence_country,nation_name,...,seg_dep_time_month,seg_dep_time_is_workday,seg_dep_time_is_holiday,seg_dep_time_is_in_lieu,recent_flt_day_month,recent_flt_day_is_workday,recent_flt_day_is_holiday,recent_flt_day_is_in_lieu,last_flt_day,emd_lable2
0,0.062948,0.092602,0.081655,0.000338,0.168990,0.042061,0.058618,0.060162,0.059297,0.061196,...,1.000000,1.0,0.0,1.0,0.000000,0.00000,0.0,0.0,1.000000,0
1,0.062948,0.092602,0.081655,0.000338,0.071642,0.018138,0.058618,0.060162,0.059297,0.061196,...,0.105381,0.0,1.0,1.0,0.000000,0.00000,0.0,0.0,1.000000,0
2,0.062948,0.062579,0.073113,0.072386,0.010760,0.021924,0.058618,0.060162,0.059297,0.061196,...,0.206867,0.0,1.0,1.0,0.000000,0.00000,0.0,0.0,1.000000,0
3,0.062948,0.062579,0.073113,0.072386,0.058834,0.032858,0.058618,0.060162,0.059297,0.061196,...,0.000000,0.0,1.0,1.0,0.319477,0.79918,1.0,1.0,0.050476,0
4,0.062948,0.092602,0.107637,0.072386,0.029598,0.020684,0.077714,0.060162,0.078555,0.061196,...,0.582227,0.0,1.0,1.0,0.915698,0.79918,1.0,1.0,0.050476,1